annotated-types==0.6.0
APScheduler==3.6.3
attrs==23.2.0
cachetools==4.2.2
certifi==2024.2.2
charset-normalizer==2.0.12
flake8==3.9.2
idna==3.6
iniconfig==2.0.0
mccabe==0.6.1
packaging==24.0
pillow==10.2.0
pluggy==1.4.0
psycopg==3.1.18
py==1.11.0
pycodestyle==2.7.0
pydantic==2.6.4
pydantic_core==2.16.3
pyflakes==2.3.1
pypng==0.20220715.0
pytest==6.2.5
python-dotenv==0.19.0
python-telegram-bot==13.7
pytz==2024.1
qrcode==7.4.2
requests==2.26.0
schedule==1.2.0
six==1.16.0
SQLAlchemy==2.0.29
sqlmodel==0.0.16
toml==0.10.2
tornado==6.4
typing_extensions==4.10.0
tzlocal==5.2
urllib3==1.26.18
psycopg2-binary==2.9.9